@using BDS.Data.Entities;
@using BDS.Data.Enum
@model BDS.WebApp.Models.AreaViewModel.AreaViewModel
@{
    ViewData["Title"] = "Phân khu " + @ViewBag.AreaName;
}

<head>
    <link rel="stylesheet" href="~/assets/css/zone.css">
    <style>
        .product--list--item--info h1 a{
            text-align: left;
            font-size: 18px;
            color: #f94c08;
            text-decoration: none
        }
    </style>
</head>
<div class="grid margin-top-60px background-color">
           <div class="navigation-bar grid wide ">
               <div class=row>
                    <a href="@Url.ActionLink("Index","Home")" > Trang Chủ >></a>
               </div>
               <div class="row font-size-20px">
                    <a href="@Url.ActionLink("Index","Project")" class="font-size-20px">Dự Án</a>
               </div>
               <div>
                    <a href="@Url.ActionLink("Index","Area")" class="font-size-20px">Phân Khu</a>
               </div>
                </div>
        </div>
<!-- ----------------------------------------------- -->        
          <div id="product--list--investor" class="grid">
              <div class=" border-around-4px grid wide row">
                  <div class="product--list--item col l-12 ">
                      <div class="row border-bottom-4px">
                          <a class="product-btn l-4 l-o-4 m-4 m-o-4 c-4 c-o-4">
                              Phân khu @ViewBag.AreaName
                          </a>
                      </div>
                      <div >
                          <a class="sort-btn l-2   l-o-10 m-4 m-o-4 c-4 c-o-4">
                              Sắp xếp <i class=ti-angle-down></i>
                          </a>
                      </div>
                    
                      @{
                          foreach (var item in Model.realEstates)
                          {
                              <div   class="row margin-left-right margin-top-8px">
                                  <div class=" l-3 margin-left-8px border-2px background-color">
                                      @{
                                          //string thumnailPath = "";
                                          foreach (var media in item.realEstateMedia)
                                          {
                                              if (media.Type == MediaType.ThumnailImg)
                                              {
                                                  <img src="~/@media.Path" alt=""> 
                                                  break;
                                              }
                                              else
                                              {
                                                  <img src="" alt="">
                                              }


                                          }
                                      }
                                      
                                  </div>
                                  <div class = " product--list--item--info  l-9 ">
                                      <h1><a href="@Url.ActionLink("Detail","RealEstate", new { @item.id })" >@item.name</a></h1>
                                      <p class="text">@item.location
Diện tích: @item.acreage m2 (dài @item.length m, rộng @item.width m)
Hướng: @item.orientation 
Giá: @item.price TR/m2
Tầng: @item.floor
Số phòng ngủ: @item.bedRoom
Số toilet: @item.bathRoom                                       
                                      </p>
                                  </div>
                              </div>
                          }
                      }
                      <div class="grid wide row">
                                      <div class="pagination">
                                          <a href="#" class="margin-left-12px">&laquo;</a>
                                          <a href="#" class="active">1</a>
                                           @{
                                               for (int pageIndex = 2; pageIndex < 10; pageIndex++)
                                               {
                                                   <a href="@Url.ActionLink("Index", "RealEstate", new { @pageIndex })">@pageIndex</a>
                                               }
                                           }
                                          <a href="#">&raquo;</a>
                                        </div>

                                  </div>
                  </div>
              </div>
              </div>
          <!-- ------------------------------- -->
   