@using BDS.Data.Entities


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="~/favicon.ico">
        <title>@ViewData["Title"] - Hoàng Nam Land</title>

        <link rel="stylesheet" href="~/assets/css/base.css">
        <link rel="stylesheet" href="~/assets/css/main.css">
        <link rel="stylesheet" href="~/assets/css/gridd.css">
        <link rel="stylesheet" href="~/assets/fonts/themify-icons.css">
        <style>

        </style>
             
    </head>

    <body>
        <div id="main">
            <!-- ----------------------------------------------- -->
            <div id="header">
                <div id="nav" class="grid">
                    <ul class="nav-item">
                        <li><a href="@Url.ActionLink("Index", "Home")"><img src="~/assets/img/introduce-section/logo-bat-dong-san-8.webp" alt="" class="header-img"></a></li>
                    </ul>
                    <ul class="nav-item">
                        <!-- <li><a href=""><i class="icon-home ti-home"></i>T</a></li> -->
                        <li class="nav-introduce"><a href="@Url.ActionLink("Index", "Home")">GIỚI THIỆU</a></li>
                        <li><a href="@Url.ActionLink("Index", "Project")">DỰ ÁN </a><i class=ti-angle-down></i>
                            <ul class="subnav">
                                @{
                                    foreach (Project item in ViewBag.HighlightProjects)
                                    {
                                        <li><a href="@Url.ActionLink("Detail", "Project", new { @item.id })">@item.name</a></li>
                                    }
                                }
                            </ul>
                        </li>
                        <li><a href="@Url.ActionLink("Index","RealEstate")">NHÀ ĐẤT</a></li>
                        <li><a href="@Url.ActionLink("Index","News")">TIN TỨC</a></li>
                        <li><a href="@Url.ActionLink("Index","Recruitment")">TUYỂN DỤNG</a></li>
                        <li><a href="@Url.ActionLink("Sell","RealEstate")">NHỜ BÁN/THUÊ</a></li>
                        @{
                            System.Diagnostics.Debug.Assert(User.Identity != null, "User.Identity != null");
                            if (User.Identity.IsAuthenticated)
                            {
                                <li><a href="">TÀI KHOẢN</a>
                                    <ul class="subnav">
                                        <li class="subnavli"><a href="@Url.ActionLink("Logout","User")">Đăng xuất</a></li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li><a href="">TÀI KHOẢN</a>
                                    <ul class="subnav">
                                        <li class="subnavli" onclick="togglePopup()"> ĐĂNG NHẬP</li>
                                        <li class="subnavli" onclick="togglePopup2()">ĐĂNG KÍ</li>
                                    </ul>
                                </li>
                            }
                        }
                        
                       
                        <li><a href=""><img src="~/assets/img/introduce-section/iconfinder_heart_299063.png" alt="" class="header-wishlist"></a></li>
                    </ul>

                </div>
                <div class="popup-login" id="popup-login1">
                                <div class="content">
                                 <div class="close-btn" onclick="togglePopup()">×</div>
                                <h1 class="loginh1" >ĐĂNG NHẬP</h1> 
                               
                                    <form method="post" asp-controller="User" asp-action="Authenticate">
                                        <div class="input-field"><i class=ti-user></i><input name ="username" placeholder="Tài Khoản" class="validate"></div>
                                        <div class="input-field"><i class=ti-lock></i><input type="password" name="password" placeholder="Mật khẩu" class="validate"></div>
                                        <div row>   <input name="rememberMe" type="checkbox" value="true" id="rememberMe"> <label class="">Ghi nhớ đăng nhập</label></div>
                                        <input type="submit" value="Đăng nhập" class="second-button">
                                    </form>
                                 <p class="loginp">Không có tài khoản? <a class=".loginha" href="/signup.html">Đăng kí</a></p>
                                </div>
                        </div>
                        <script type="text/javascript">
                                function togglePopup() {
                                document.getElementById("popup-login1")
                                .classList.toggle("active");
                                 }
                        </script>
                         <div class="popup-registration" id="popup-registration2">
                                    <div class="content">
                                <div class="close-btn" onclick="togglePopup2()">×</div>
                                <h1 class="loginh1" >ĐĂNG KÍ</h1> 
                                <div class="input-field"><i class=ti-user></i><input placeholder="Tài khoản" class="validate"></div>
                                <div class="input-field"><i class=ti-lock></i><input placeholder="Mật khẩu" class="validate"></div>
                                <div class="input-field"><i class=ti-lock></i><input placeholder="Nhập lại mật khẩu" class="validate"></div>
                                <div class="input-field"><i class=ti-email></i><input placeholder="Gmail" class="validate"></div>
                                <div class="input-field"><i class=ti-tablet></i><input placeholder="Số điện thoại" class="validate"></div>
                                               <button class="second-button">Đăng Kí</button>
                                </div>
                        </div>
                        <script type="text/javascript">
                            function togglePopup2() {
                            document.getElementById("popup-registration2")
                            .classList.toggle("active");
                            }
                        </script>
            </div>
        </div>
        @RenderBody();
        <div id="footer " class="grid wide">
                    <div class="row">
                        <div class="footer-item-1 col l-4 m-0 c-0">
                            <div class="footer--logo"><img src="~/assets/img/footer-logo.png" alt="" class="footer-logo-img"></div>
                        </div>
                        <div class="footer-item-2 col l-5 m-12 c-12">
                            <div class="head">
                                <h1>HOÀNG NAM LAND</h1>
                            </div>
                            <div class="footer-paragraph">
                                <p>Email: info@HoangNamland.vn<br>
                                    Website: https://hoangbnamland.com.vn<br>
                                    Hotline:<br>
                                    0988 37 9911 (Kinh doanh)<br>
                                    0902 99 9911 (Tuyển dụng)<br>
                                    Trụ sở:<br>
                                    Hoàng Nam Building - 192 Trần Não, Phường Bình An, Quận 2, TP.HCM<br>
                                    Chi nhánh:<br>
                                    Tầng 4 Vincom Mega Mall Thảo Điền – 161 Xa Lộ Hà Nội, Quận 2, TP.HCM<br>
                                    VP Hà Nội:<br>
                                    Tầng 4 Zen Tower – 12 Khuất Duy Tiến, Thanh Xuân, Hà Nội<br>
                                    VP Australia:<br>
                                    522 Flinders Parade, Brighton, Queensland 4017<br>
                                    <br>  <br>
                                </p>
                            </div>
                        </div>
                        <div class="footer-item-3 col l-2 m-12 c-0">
                           <h1 class="row">     LIÊN HỆ  </h1>  
                           <div class="grid row">
                               <div class="col">
                                   <a href="">
                                        <img src="~/assets/img/iconfinder_112-gmail_email_mail_4202011.png" width="40px">
                                   </a> 
                               </div>
                               <div class="col">
                                    <a href="">
                                        <img src="~/assets/img/youtube.png" width="40px">
                                    </a>   
                               </div>
                           </div>
                           <div class=" footer-contact row">
                               <a>ĐỂ LẠI THÔNG TIN</a>
                           </div>
                        </div>
                    </div>
                </div>
    </body>
</html>