@using BDS.Services.Model
@model BDS.Services.Model.UserRealEstateModel

@{
    ViewData["Title"] = @Model.name;
}


<head>
    <link rel="stylesheet" href="~/assets/css/aboutproject.css">
    <link rel="stylesheet" href="~/assets/css/estateinfomation.css">
    <link rel="stylesheet" href="~/assets/css/project.css">
</head>

 <!-- ------------------------------- -->
        <div class="grid margin-top-60px background-color">
           <div class="navigation-bar grid wide ">
               <div class=row>
                    <a href=".@Url.ActionLink("Index", "Home")" > Trang Chủ >></a>
               </div>
               <div>
                    <a href="@Url.ActionLink("RealEstate","User")" class="font-size-20px">Nhà Đất Đã mua>></a>
               </div>
          
            </div>
                </div>

<!-- ----------------------------------------------- -->        
          <div id="product--estateinfomation" class="grid">
            <div class=" border-around-4px grid wide row">
                <div class="product--estateinfomation--item col l-12">
                    <div class=" row ">
                        <section id="project--banner">
                            <div class="imgBx">
                                @{
                                    foreach (var item in Model.userRealEstateMedia)
                                    {
                                        <img class=" active col l-8 l-o-2" src="~/@item.Path" alt="">
                                    }
                                }
                                
                            </div>
                          
                        </section>
                    </div>
                    <div >
                       <!-- dấdsadasdsa  -->
                    </div>
                    <div class="row margin-left-right margin-top-8px">
                      <div class="l-12 background-color-blue">
                        <div class = " product--estateinfomation--item--info  l-10 l-o-1 ">
                            <h1>@Model.name</h1>
                            <p class="text">
Loại nhà: @Model.type 
Mặt tiền: @Model.facade m 
Đường chính: @Model.mainLine 
Vị trí: @Model.location
Diện tích: @Model.acreage m2 (Dài @Model.length m, rộng @Model.width m)
Hướng: @Model.orientation 
Giá: @Model.price TR/m2
Tầng: @Model.floor
Số phòng ngủ: @Model.bedRoom
Số toilet: @Model.bathRoom
                            </p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
              <div class=" grid wide row">
                  <form>
                  <button asp-action="Sell" asp-controller="RealEstate" asp-route-id="@Model.id" class="more-btn col l-2 l-o-5 m-4 m-o-4 c-4 c-o-4"> Đăng bán </button>
                  </form>
              </div>
          </div>
<!-- ------------------------------- -->