@using BDS.Data.Entities
@using BDS.Data.Enum
@model List<BDS.Services.Model.RecruitmentModel>

@{
    ViewData["Title"] = "Tuyển dụng";
}

<head>
    <link rel="stylesheet" href="~/assets/css/recruitment.css">
</head>





<!-- ----------------------------------------------- -->
        <div id="recruitment--slider--section">
        </div>
         <!-- ----------------------------------------------- -->
<div class="recruitment--list--section grid wide">

@{
        for (int i = 0; i < Model.Count; i++)
        {
            if (i % 2 == 0)
            {
                <div class="row recruitment--list--item">
                    <div class=" ecruitment--list--item1 l-6 m-0 c-0">
                        @{
                            String thumbnailImg = "";
                            var thumbnail = Model[i].recruitmentMedia.FirstOrDefault(x => x.Type == MediaType.ThumnailImg);
                            if (thumbnail != null)
                                thumbnailImg = thumbnail.Path;
                        }
                        <img class=" l-12" src="~/@thumbnailImg">
                    </div>
                    <div class="l-6 m-12 c-12">
                        <div class="l-12 ">
                            <a class="text-decoration-none" asp-action="Detail" asp-controller="Recruitment" asp-route-id="@Model[i].id">
                                <h1 class="l-12">@Model[i].title</h1>
                            </a>
                        </div>
                        <div class="text">
                            <p class="l-12">@Model[i].description</p>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row recruitment--list--item">
                    <div class="l-6 m-12 c-12">
                        <div class="l-12 ">
                            <a class="text-decoration-none" asp-action="Detail" asp-controller="Recruitment" asp-route-id="@Model[i].id">
                                <h1 class="l-12">@Model[i].title</h1>
                            </a>
                        </div>
                        <div class="text">
                            <p class="l-12">@Model[i].description</p>
                        </div>
                    </div>
                    <div class=" ecruitment--list--item1 l-6 m-0 c-0">
                         @{
                             String thumbnailImg = "";
                             var thumbnail = Model[i].recruitmentMedia.FirstOrDefault(x => x.Type == MediaType.ThumnailImg);
                             if (thumbnail != null)
                                 thumbnailImg = thumbnail.Path;
                         }
                         <img class=" l-12" src="~/@thumbnailImg">
                    </div>
                    </div>
            }
        }
}

</div>
    
                        <div class="grid wide row">
                          <div class="pagination">
                              @{
                                  int currentPageIndex = ViewBag.pageIndex;
                              }
                              <a asp-action="Index" asp-controller="Recruitment" class="margin-left-12px">&laquo;</a>
                              
                              @{
                                 if(currentPageIndex < 9)
                                 {
                                     for (int pageIndex = 1; pageIndex < 10; pageIndex++)
                                     {
                                        if (pageIndex == currentPageIndex)
                                        {
                                            <a asp-action="Index" asp-controller="Recruitment" asp-route-pageIndex="@pageIndex" class="active">@pageIndex</a>
                                        }
                                        else
                                        {
                                            <a asp-action="Index" asp-controller="Recruitment" asp-route-pageIndex="@pageIndex">@pageIndex</a>
                                        }
                                    }
                                 }
                                  else
                                 {
                                     for (int pageIndex = @currentPageIndex - 7; pageIndex < @currentPageIndex - 8 + 10; pageIndex++)
                                     {
                                         if (pageIndex == currentPageIndex)
                                         {
                                             <a asp-action="Index" asp-controller="Recruitment" asp-route-pageIndex="@pageIndex" class="active">@pageIndex</a>
                                         }
                                         else
                                         {
                                             <a asp-action="Index" asp-controller="Recruitment" asp-route-pageIndex="@pageIndex">@pageIndex</a>
                                         }
                                     }
                                  }
                                 
                              }
                              <a href="#">&raquo;</a>
                          </div>
                      </div>
