@using BDS.Data.Entities
@model List<BDS.Data.Entities.Recruitment>

@{
    ViewData["Title"] = "Tuyển dụng";
}

<head>
    <link rel="stylesheet" href="~/assets/css/ recruitment.css">
</head>





<!-- ----------------------------------------------- -->
        <div id="recruitment--slider--section">
        </div>
         <!-- ----------------------------------------------- -->
<div class="recruitment--list--section grid wide">

@{
        for (int i = 0; i < Model.Count; i++)
        {
            if (i % 2 == 0)
            {
                <div class="row recruitment--list--item">
                    <div class=" ecruitment--list--item1 l-6 m-0 c-0">

                    </div>
                    <div class="l-6 m-12 c-12">
                        <div class="l-12 ">
                            <a class="text-decoration-none" href="@Url.ActionLink("Detail", "Recruitment", new { @Model[i].id })">
                                <h1 class="l-12">@Model[i].title</h1>
                            </a>
                        </div>
                        <div class="text">
                            <p class="l-12">@Model[i].description</p>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row recruitment--list--item">
                    <div class="l-6 m-12 c-12">
                        <div class="l-12 ">
                            <a class="text-decoration-none" href="@Url.ActionLink("Detail", "Recruitment", new { @Model[i].id })">
                                <h1 class="l-12">@Model[i].title</h1>
                            </a>
                        </div>
                        <div class="text">
                            <p class="l-12">@Model[i].description</p>
                        </div>
                    </div>
                    </div>
            }
        }
    }
    
   
    
        <div class=" ecruitment--list--item1 l-6 m-0 c-0">

        </div>

    </div>
    <div class="grid row">
        <div class="pagination l-4 l-o-4">
            <a href="#" class="margin-left-12px">&laquo;</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">7</a>
            <a href="#">8</a>
            <a href="#">9</a>
            <a href="#">&raquo;</a>
        </div>
        <!-- <ul class="controls grid ">
            <li onclick = "PrevSlide();PrevSlideText();"></li>
            <li onclick ="nextSlide();nextSlideText();"></li>
        </ul> -->
    </div>
