@model List<BDS.Data.Entities.Project>

@{
  ViewData["Title"] = "Dự án";
    Layout = "_AdminLayout";
}



<div class="data-name body-content ">
    <div class="input-field1">
        <div class="s">         
            <a >TÌM KIẾM:</a>  <input placeholder="" class="validate search"><a><i  class=ti-search></i></a>
          <span class="plus">
            <a style="text-decoration: none;color:black" asp-action="NewProject" asp-controller="Admin">
              <i class=ti-plus></i>
            </a>

          </span>
        </div>          
    </div>
</div>
<div class="body-content">
  <table class="">
    <tr class="col">
      <th class="col">ID</th>
      <th style="width: 60%" class="col">Tên</th>
      <th style="width: 40%" class="col">Nhà đầu tư</th>
      <th class="col">Action</th>

    </tr>
    @{
      foreach (var item in Model)
      {
        <tr>
          <td>@item.id</td>
          <td><a asp-action="ProjectDetail" asp-controller="Admin" asp-route-id="@item.id" style="text-decoration: none;color: black;">@item.name</a></td>
          <td>@item.invesloper</td>
          <td class="last">
            <div class="i-1">
              <a style="text-decoration: none;color:black" asp-action="UpdateProject" asp-controller="Admin" asp-route-id="@item.id">
                <i class=ti-pencil></i>
              </a>
            </div>
            <div class="i-2">
              <a style="text-decoration: none;color:black" asp-action="DeleteProject" asp-controller="Admin" asp-route-id="@item.id">
                <i class=ti-close></i>
              </a>
            </div>
          </td>
        </tr>
      }
    }
    
    
  </table>
</div>

@section paging
{
  <div class="grid row">
    <div class="pagination1 l-4 l-o-3">
      <a asp-action="Project" asp-controller="Admin" asp-route-index="1" class="margin-left-12px">&laquo;</a>
                                
      @{
        if(ViewBag.index < 9)
        {
          for (int index = 1; index < 10; index++)
          {
            if (index == ViewBag.index)
            {
              <a asp-action="Project" asp-controller="Admin" asp-route-index="@index" class="active">@index</a>
            }
            else
            {
              <a asp-action="Project" asp-controller="Admin" asp-route-index="@index">@index</a>
            }
          }
        }
        else
        {
          for (int index = @ViewBag.index - 7; index < @ViewBag.index - 8 + 10; index++)
          {
            if (index == ViewBag.index)
            {
              <a asp-action="Project" asp-controller="Admin" asp-route-index="@index" class="active">@index</a>
            }
            else
            {
              <a asp-action="Project" asp-controller="Admin" asp-route-index="@index">@index</a>
            }
          }
        }
                                   
      }
      <a href="#">&raquo;</a>
    </div>
  </div>
}