
@model BDS.WebApp.Models.Admin.RealEstateDetailViewModel

@{
    ViewData["Title"] = "Thông tin nhà đất";
    Layout = "_AdminLayout";
}

<head>
    <link rel="stylesheet" href="~/assets/css/admin.css">
    <link rel="stylesheet" href="~/assets/css/admin-info.css">
    <style>
        .right0 img{
          height:120px;
        }
    </style>
</head>

<div style="width: 100%" class="admin-form grid wide row">
    <div class="admin col">
        <div class="content">
            <h1 class="loginh2" >THÔNG TIN NHÀ ĐẤT</h1> 
            <div class="grid account-info row"><h1 class="col l-2  ">Tên</h1>
                <div class="col l-9"><p class="col l-9 max-widtht text  ">@Model.realEstateModel.name</p>
                </div>
            </div>
            <div class="grid account-info row"><h1 class="col l-2  ">Phân khu:</h1>
                <div class="col l-9"><p class="col l-9 max-widtht text  ">@Model.area.name</p>
                </div>
            </div>
            <div class="grid account-info row"><h1 class="col l-2  ">Vị trí</h1>
                <div class="col l-9"><p class="col l-9 max-widtht text  ">@Model.realEstateModel.location</p>
                </div>
            </div>
            <div class="grid account-info row"><h1 class="col l-2  ">Diện tích</h1>
                <div class="col l-9"><p class="col l-9 max-widtht text  ">@Model.realEstateModel.acreage</p>
                </div>
            </div>
            <div class="grid account-info row"><h1 class="col l-2  ">Chiều dài</h1>
                <div class="col l-9"><p class="col l-9 max-widtht text  ">@Model.realEstateModel.length</p>
                </div>
            </div>
            <div class="grid account-info row"><h1 class="col l-2  ">Chiều rộng</h1>
                <div class="col l-9"><p class="col l-9 max-widtht text  ">@Model.realEstateModel.width</p>
                </div>
            </div>
            <div class="grid account-info row"><h1 class="col l-2  ">Hướng</h1>
                <div class="col l-9"><p class="col l-9 max-widtht text  ">@Model.realEstateModel.orientation</p>
                </div>
            </div>
            @{
                String sell = "";
                if (@Model.realEstateModel.sell)
                    sell = "Bán";
                else sell = "Cho thuê";
                    
            }
            <div class="grid account-info row"><h1 class="col l-2  ">Bán/thuê</h1>
                <div class="col l-9"><p class="col l-9 max-widtht text  ">@sell</p>
                </div>
            </div>
            <div class="grid account-info row"><h1 class="col l-2  ">Loại nhà</h1>
                <div class="col l-9"><p class="col l-9 max-widtht text  ">@Model.realEstateModel.type</p>
                </div>
            </div>
            <div class="grid account-info row"><h1 class="col l-2  ">Giá</h1>
                <div class="col l-9"><p class="col l-9 max-widtht text  ">@Model.realEstateModel.price</p>
                </div>
            </div>
            <div class="grid account-info row"><h1 class="col l-2  ">Tầng</h1>
                <div class="col l-9"><p class="col l-9 max-widtht text  ">@Model.realEstateModel.floor</p>
                </div>
            </div>
            <div class="grid account-info row"><h1 class="col l-2  ">Số phòng ngủ</h1>
                <div class="col l-9"><p class="col l-9 max-widtht text  ">@Model.realEstateModel.bedRoom</p>
                </div>
            </div>
            <div class="grid account-info row"><h1 class="col l-2  ">Số toilet</h1>
                <div class="col l-9"><p class="col l-9 max-widtht text  ">@Model.realEstateModel.bathRoom</p>
                </div>
            </div>
            <div class="grid account-info row"><h1 class="col l-2  ">Địa chỉ</h1>
                <div class="col l-9"><p class="col l-9 max-widtht text  ">@Model.realEstateModel.address</p>
                </div>
            </div>
            <div class="grid account-info row"><h1 class="col l-2  ">Mặt tiền</h1>
                <div class="col l-9"><p class="col l-9 max-widtht text  ">@Model.realEstateModel.facade</p>
                </div>
            </div>
            <div class="grid account-info row"><h1 class="col l-2  ">Đường chính</h1>
                <div class="col l-9"><p class="col l-9 max-widtht text  ">@Model.realEstateModel.mainLine</p>
                </div>
            </div>
            <div class="grid account-info row"><h1 class="col l-2  ">Mô tả thêm</h1>
                <div class="col l-9"><p class="col l-9 max-widtht text  ">@Model.realEstateModel.description</p>
                </div>
            </div>
            <div class="grid account-info  row"><h1 class="col l-2  ">Hình ảnh:</h1> 
                <div class="col l-9 right0">
                    <div class="row right0">
                        @{
                            foreach (var item in Model.realEstateModel.realEstateMedia)
                            {
                                <div class="col l-2">
                                    <img style="margin-left: 10px" src="~/@item.Path" alt="">
                                    <div style="margin-right: 50px" class="i-1">
                                        <i class=ti-pencil></i>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <form>
                <button asp-action="UpdateRealEstate" asp-controller="Admin" asp-route-id="@Model.realEstateModel.id" class="second-button2 margin-top-20px">CẬP NHẬT THÔNG TIN</button>
            </form>

        </div>
    </div>
    </div>