@using BDS.WebApp.Models.Project;
@model ProjectDetailViewModel

@{
    ViewData["Title"] = Model.project.name;
    //Layout = _Layout;
}

<head>
    <link rel="stylesheet" href="~/assets/css/aboutprojectt.css">
</head>


<!-- ----------------------------------------------- -->
         <div id="aboutproject--slider--section row">
             @{
                 string bannerPath = "";
                 if(Model.projectBanner != null)
                     bannerPath = Model.projectBanner.Path;
                     
             }
             <img class="grid" src="~/@bannerPath">
             </div>
         <!-- ----------------------------------------------- -->
        <div id="aboutproject--information--section" class="grid">
            <div class="grid wide">
                <h1>✨ @Model.project.name ✨</h1>
            </div>
            <div class="text grid wide">
                <p>@Model.project.introduce
                </p>
            </div> 
        </div>
         <!-- ----------------------------------------------- -->
         <div id="aboutproject--banner row">    
              @{
                  string introducePath = "";
                  if(Model.introduceImg != null)
                      introducePath = Model.introduceImg.Path;
              }
             <img class="grid" src="~/@introducePath">
                </div>
         <!-- ----------------------------------------------- -->
        <div id="aboutproject--videointroduce--section" class=" grid wide row ">
           @{
                            string introduceVid = "";
                            if(Model.introduceVideo != null)
                                introduceVid = Model.introduceVideo.Path;
                        }
            <iframe id="a" class="col l-12 m-12 c-12" src="@introduceVid" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
         <!-- ----------------------------------------------- -->
        <div id="aboutproject--detailed-information--section" class="grid ">
            <div class=" grid wide">
                <h1>THÔNG TIN CHI TIẾT</h1>
            </div>
            <div class="text grid wide">
                <p>
@Model.project.info
                </p>
            </div>
        </div>
         <!-- ----------------------------------------------- -->
        <div id="aboutproject--videoprogress--section" class=" grid ">
            <div id="aboutproject--detail--information--section" class="grid">
                <div class="grid wide">
                    <h1> TIẾN ĐỘ DỰ ÁN </h1>
                </div>
                <div class="text grid wide">
                    <p>@Model.project.procedure
                    </p>
                </div>
            </div>
            <div class=" grid wide row">
                @{
                    string procedureVid = "";
                    if(Model.procedureVideo != null)
                        procedureVid = Model.procedureVideo.Path;
                }
                <iframe class="col l-12 m-12 c-12" src="@procedureVid" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
         <!-- ----------------------------------------------- -->
       <div id="aboutproject--map">
           @{
               string mapPath = "";
               if(Model.mapImg != null)
                   mapPath = Model.mapImg.Path;
           }
           <img class="grid" src="~/@mapPath">
               </div>
        <div id="footer--map--info" class="row grid wide">
            
            @{
                for(int i = 0; i < Model.areas.Count; i++)
                {
                    <div class=" footer--map--info--item col l-3 m-6 c-12 l-o-1 row"><span class="col">@i</span><a class="col" href="@Url.ActionLink("Index","Area", new { @Model.areas[i].id,@Model.areas[i].name })"> Phân khu @Model.areas[i].name</a></div>
                }
            }

        </div>
         <!-- ----------------------------------------------- -->
        <div id="aboutproject--benefits--section" class="grid">
            <div class="grid wide">
                <h1>✨ LỢI ÍCH KHÁCH HÀNG ✨</h1>
            </div>
            <div class="text grid wide">
                <p>
@Model.project.customerBenefits
                </p>
            </div>
            <div class="grid wide">
                <a class="l-4 l-o-4 m-4 m-o-4 c-4 c-o-4">ĐỂ LẠI THÔNG TIN</a>
            </div>
        </div>
         <!-- ----------------------------------------------- -->